@charset "UTF-8";

/* ========================================
    リセットcss
========================================= */
*{margin:0;padding:0;line-height:calc(0.25rem + 1em + 0.25rem)}*,::before,::after{box-sizing:border-box}*:where(:not(fieldset,progress,meter)){border-width:0;border-style:solid;background-origin:border-box;background-repeat:no-repeat}html{block-size:100%;-webkit-text-size-adjust:none}@media (prefers-reduced-motion:no-preference){html:focus-within{scroll-behavior:smooth}}body{text-rendering:optimizeSpeed;min-block-size:100%}:where(img,svg,video,canvas,audio,iframe,embed,object){display:block}:where(img,svg,video){block-size:auto;max-inline-size:100%}:where(svg){stroke:none;fill:currentColor}:where(svg):where(:not([fill])){stroke:currentColor;fill:none;stroke-linecap:round;stroke-linejoin:round}:where(svg):where(:not([width])){inline-size:5rem}:where(input,button,textarea,select),:where(input[type="file"])::-webkit-file-upload-button{color:inherit;font:inherit;font-size:inherit;letter-spacing:inherit;word-spacing:inherit}:where(textarea){resize:vertical}@supports (resize:block){:where(textarea){resize:block}}:where(p,h1,h2,h3,h4,h5,h6){overflow-wrap:break-word}h1{font-size:2em}:where(ul,ol){list-style-position:inside}:where(ul,ol)[role="list"]{list-style:none}a:not([class]){text-decoration-skip-ink:auto}:where(a[href],area,button,input,label[for],select,summary,textarea,[tabindex]:not([tabindex*="-"])){cursor:pointer;touch-action:manipulation}:where(input[type="file"]){cursor:auto}:where(input[type="file"])::-webkit-file-upload-button,:where(input[type="file"])::file-selector-button{cursor:pointer}@media (prefers-reduced-motion:no-preference){:focus-visible{transition:outline-offset 145ms cubic-bezier(.25,0,.4,1)}:where(:not(:active)):focus-visible{transition-duration:0.25s}}:where(:not(:active)):focus-visible{outline-offset:5px}:where(button,button[type],input[type="button"],input[type="submit"],input[type="reset"]),:where(input[type="file"])::-webkit-file-upload-button,:where(input[type="file"])::file-selector-button{-webkit-tap-highlight-color:#fff0;-webkit-touch-callout:none;user-select:none;text-align:center}:where(button,button[type],input[type="button"],input[type="submit"],input[type="reset"])[disabled]{cursor:not-allowed}

/* ========================================
    全体設定
========================================= */
body {
    font-family: "Athelas", "Shippori Mincho", sans-serif, serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    background-color: #405256;
}

a {
	text-decoration: none;
}

li {
    list-style: none;
}

h2{
    font-size: 80px;
    font-weight: bold;
    color: #fff;
}


/* micro clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {clear: both;}


/* ========================================
    ヘッダー
========================================= */
header {
    width: 100%;
    height: 100px;
    border: 1px solid #333;
    background-color: #e0decf;
    position: relative;
}

header h1 {
    float: left;
    font-size: 48px;
    font-weight: bold;
    position: absolute;
    top: 28px;
    left: 30px;
}

header nav {
    float: right;
    margin-top: 40px;
}

header nav ul li {
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    padding-left: 27px;
}

header nav ul li:last-child{
    margin-right: 30px;
}


header nav ul li a {
    color: #333;
}



/* ========================================
    ファーストビュー
========================================= */
div#firstview {
    width: 100%;
    height: 498px;
    background: url(images/queue-de-chat_top_image.png) no-repeat;
    background-size: 100%;
}




/* ========================================
    新商品
========================================= */
div#newitems {
    width: 100%;
    height: 762px;
}

div#newitems h2 {
    margin: 80px 0 68px 93px;
}

div#newitems ul {
    float: right;
}

div#newitems ul li {
    width: 390px;
    height: auto;
    float: left;
}

div#newitems ul li:last-child {
    margin-right: 145px;
    margin-left: 101px;
}

div#newitems dl dt {
    height: 277px;
    margin-bottom: 28px;
}

div#newitems dl dd {
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 22px;
}
div#newitems ul li a {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    background-color: #f9bc7f;
    border: 2px solid #fff; 
    line-height: 25px;
    padding: 16px 79px;
    margin: 0 84px 130px;
}


/* ========================================
    おすすめ商品
========================================= */
div#pickup {
    width: 100%;
    height: 676px;
}

div#pickup h2 {
    margin: 0 106px 71px 0;
    float: right;
}

div#pickup ul {
    float: left;
}

div#pickup ul li {
    width: 387px;
    height: auto;
    float: left;
    margin: 0 102px 147px;
}

div#pickup ul li:last-child{
    margin-left: 0;
}

div#pickup dl dt {
    height: 275px;
    margin-bottom: 24px;
}

div#pickup dl dd {
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 22px;
}

div#pickup ul li a {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    background-color: #f9bc7f;
    border: 2px solid #fff; 
    line-height: 25px;
    padding: 16px 79px;
    margin: 0 84px 130px;
}


/* ========================================
    カテゴリー
========================================= */
div#category {
    width: 100%;
    height: 1666px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.x-container {
    position: relative;
    width: 100%;
    height: 1289px;
    margin: 50px auto;
    padding: 0;
}

.box {
    position: absolute;
    width: 383px;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
}

.box1 {
    top: 0;
    left: 151px;
}

.box2 {
    top: 0;
    right: 151px;
}

.box3 {
    bottom: 0;
    left: 151px;
}

.box4 {
    bottom: 0;
    right: 151px;
}

.center-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.x-container dl dd {
    text-align: center;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 18px;
}

div.x-container dl span {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 24px;
}

/* ========================================
    コラム
========================================= */
div#column {
    width: 100%;
    height: 661px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#column h2 {
    margin-bottom: 86px;
}

div#column ul {
    display: flex;
    justify-content: center;
    gap: 53px;
}

div#column ul li {
    width: 343px;
    height: auto;
}

div#column ul li dl dt {
    margin-bottom: 27px;
}

div#column ul li dl dd {
    text-align: center;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    line-height: 39px;
}

/* ========================================
    フッター
========================================= */
footer {
    width: 100%;
    height: 235px;
    background-color: #e0decf;
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul {
    margin-top: 70px;
    display: flex;
    gap: 117px;
}

footer ul li {
    float: left;
    font-size: 24px;
    font-weight: bold;
}

footer ul li a {
    color: #333;
}

footer p {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-top: 74px;
}
